@charset "utf-8";

a{text-decoration:none; color:#fff;}
ul, li{list-style:none;}
body{font:bold 14px "맑은 고딕",sans-serif;}

#wrap{width:1050px; margin:20px auto;}
#box1{width:450px; height:80px; margin:65px auto; background-color:#000; text-align:center; font-size: 1.5em; line-height:80px; font-weight:bold; color: #fff;}
#list{width:1000px; overflow:hidden; margin:0 auto;}
#list li{width:150px; height:50px; float:left; background-color:#000; margin:20px; text-align:center;}
#list li:last-child{background-color: darkseagreen; border: 3px double darkslategrey;}
#list li a{line-height:50px; display: block;}
#list li:last-child a{color: darkslategrey;}